a{
	text-decoration: none;
	color: #874604;
}
a:HOVER {
	color: #179117;
	font-weight: bold;
}
a:LINK {
	//cursor:hand;
	//color:red;
}
a:ACTIVE {
	cursor:hand;
	color:pink;
}

a:VISITED {
	//color: yellow;
}