.mbutton{
	
	cursor: hand;
	font-size: 12pt;
	color: white;
	height: 20px;
	width: 80px;text-align: center;
	padding: 3px 0 0 0;
	margin: 1px 0 0 0;
	background-color: #006000;
}


.mbuttonhover{
	
	cursor: hand;
	font-size: 12pt;
	color: white;
	height: 20px;
	width: 80px;text-align: center;
	padding: 3px 0 0 0;
	margin: 1px 0 0 0;
	background-color: white;
}